.table-header--row {
  background-color: #e1e1e1;
  font-weight: bold;
  font-size: 1.1em;
}

.table-header--cell {
  text-align: left;
  min-width: 20vw;
  /* min-width: em; */
}

.table-header--cell>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-header--sort-icon {
  float: right;
  opacity: 0;
  padding-left: .5em;

  color: #2e5f96;
}

.table-header--sort-icon.active {
  float: right;
  opacity: 1;
}

.table-body--row {
  background-color: #f1f1f1;
}

.table-body--row:nth-child(odd) {
  background-color: #ffffff;
}

.table-body--cell {
  text-align: left;
}

.table-body--cell,
.table-header--cell {
  padding: .5em;
}

.input-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 1em;
}

.input--date {
  width: calc(30% - 1em);
  padding: 0 1em !important;
}

.input--button {
  width: 8em;
  padding: .5em !important;
}

.input--button:hover {
  background-color: #e1e1e1;
}

.input--button:active {
  background-color: #f1f1f1;
}

.input--date,
.input--button {
  margin: .5em;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;

  font-size: 1.2em;
  font-weight: bold;
}